* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('guitar-two.jpg');
    background-repeat: no-repeat;
    background-size: auto 840px;
    display: flex;
    flex-direction: column;
    align-items: end;
    background-color: lightgray;
    position: relative;
}

.form-header {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    font-size: 40px;
    width: 50%;
    padding: 10px;
}

.form {
    padding: 40px 290px 10px 0px;
}
.form-row {
    padding: 10px;
}

h1 {
    font-size: 3rem;
    padding: 15px;
}

label {
    font-size: 30px;
}

input {
    border: 2px solid blue;
    border-radius: 20px;
    padding: 10px;
}

input[type="password"]:invalid,
input[type="email"]:invalid {
    border: 2px solid red;
}

input[type="password"]:valid {
    border: 2px solid green;
}

button {
    background-color: rgba(34, 5, 166, 0.965);
    font-size: 40px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid blue;
    color: white;
}

button:hover {
    background-color: rgb(53, 78, 146);
}

.button-message {
    font-family: fantasy, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    font-size: 25px;
    padding: 20px;
}

.under-button {
    padding: 20px 0;
}

a {
    text-decoration: none;
    color: blue;
}

.test {
   position: absolute;
   bottom: 50px;
   left: 1200px;
}